* {
  margin: 0;
  padding: 0;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(images/sky.jpg);
  background-position: center;
  position: relative;
  overflow: hidden;
}

.highway {
  height: 200px;
  width: 500%;
  display: block;
  background-image: url(images/road.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: highway 5s linear infinite;
}
/* @keyframes highway 
{
	100%{
		transform: translatex(-3400px);
	}
} */
.city {
  height: 250px;
  width: 500%;
  background-image: url(images/city.png);
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 20s linear infinite;
}
/* @keyframes city 
{
	100%{
		transform: translatex(-1400px);
	}
} */

.car {
  width: 400px;
  left: 50%;
  bottom: 100px;
  transform: translatex(-50%);
  position: absolute;
  z-index: 2;
}
.car img {
  width: 100%;
  animation: car 1s linear infinite;
}
@keyframe car {
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  0% {
    transform: translateY(-1px);
  }
}

.wheel {
  left: 50%;
  bottom: 178px;
  transform: translatex(-50%);
  position: absolute;
  z-index: 2;
}
.wheel img {
  width: 72px;
  height: 72px;
  animation: wheel 0.5s linear infinite;
}

.back-wheel {
  left: -165px;
  position: absolute;
}
.front-wheel {
  left: 80px;
  position: absolute;
}

/* @keyframes wheel 
{
	100%{
		transform: rotate(360deg);
	}
} */

.man2 {
  height: 300px;
  width: 120px;
  margin-left: 350px;
  margin-top: 75px;
}

.material {
  background-color: rgb(230, 173, 173);
  margin: 40px;
  border: 5px solid rgb(206, 92, 92);
  border-radius: 30px;
}

.heading {
  text-align: center;
  margin-top: 40px;
  padding-top: 40px;
}

.ways {
  margin: 40px;
  padding: 40px;
  font-size: 20px;
}

/*------------------------------Footer----------------------------------------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  margin: 0 13px;
  color: black;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #f44336;
}
